@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Najlepsze szynszyle!</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="~/Vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="~/Vendor/stylish-portfolio.css" rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
        <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper" class="">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
                <i class="fa fa-times"></i>
            </a>
            <li class="sidebar-brand">

            </li>
            <li>
                <a class="js-scroll-trigger" href="#about">O firmie</a>
            </li>
            <li>
                <a class="js-scroll-trigger" href="#"> Nasza oferta</a>
            </li>
            <li>
                <a class="js-scroll-trigger" href="#">Promocje</a>
            </li>
            <li>
                <a class="js-scroll-trigger" href="#contact">Kontakt</a>
            </li>

            <li>
                <a class="js-scroll-trigger" href="#">Zapytaj nas</a>
                <!--<a class="js-scroll-trigger" href="askquestion.html">Zapytaj nas</a>-->
            </li>

            <li>
                <a class="js-scroll-trigger" href="/home/login" style="color:white;">Zaloguj</a>
            </li>
        </ul>
    </nav>


    <!-- Header -->
    <header class="header" id="top">

        <div class="text-vertical-center">
            <h1 style="color: white" class="btn btn-dark btn-lg js-scroll-trigger">Szynszyle.pl</h1>
            <br>
            <a href="#about" class="btn btn-dark btn-lg js-scroll-trigger">Dowiedz się więcej</a>
        </div>
    </header>


    <section id="about" class="about">
        <div class="container text-center">
            <h2>Szynszyle.pl to największy sklep z szynszylami w Polsce!</h2>
            <p class="lead">
                Prowadzimy własną hodowle i sprzedajemy wszystkie niezbędne akcesoria do hodowania tych pięknych stworzeń - zobacz nasz kanał na youtubie:
                <a target="_blank" href="www.youtube.com">SzynszyleYoutube</a>
            </p>
        </div>
    </section>

    <!-- Services -->
    <section id="" class="services bg-primary text-white">
        <div class="container" style=" background-color: #a7a5a3">
            <div class="row text-center">
                <div class="col-lg-10 mx-auto">
                    <h2>Nasze Usługi</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cloud fa-stack-1x text-primary" style="color:#a7a5a3"></i>
                                </span>
                                <h4>
                                    <strong>Sprzedaż</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Sprawdź</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-compass fa-stack-1x text-primary" style="color:#a7a5a3"></i>
                                </span>
                                <h4>
                                    <strong>Doradztwo</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Sprawdź</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-flask fa-stack-1x text-primary" style="color:#a7a5a3"></i>
                                </span>
                                <h4>
                                    <strong>Akcesoria</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Sprawdź</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-shield fa-stack-1x text-primary" style="color:#a7a5a3"></i>
                                </span>
                                <h4>
                                    <strong>Weterynarz</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Sprawdź</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Największa hodowla tylko z Poznania!</h1>
        </div>
    </aside>


    <!-- Call to Action -->
    <aside class="call-to-action bg-primary text-white">
        <div class="container text-center">
            <h3>Chciałbyś dowiedzieć się więcej?</h3>
            <a href="#" class="btn btn-lg btn-light">Tak!</a>
            <a href="#" class="btn btn-lg btn-dark">Na razie nie</a>
        </div>
    </aside>



    <section id="contact" class="map">
        <!--<div class="col-md-5 offset-md-4"><h1>Jak nas znaleźć?</h1></div>-->
        <aside class="call-to-action " style="color:white">
            <div class="container text-center" style="color: black">
                <h3>Jak nas znaleźć?</h3>
            </div>
        </aside>

        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:450px;width:100%;'>
            <div style="width: 100%; height:440px; position: relative;">
                <iframe width="100%" height="340" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Pozna%C5%84%20wielka%205+(Titel)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="http://www.googlemapsgenerator.com/zh/">Googlemapsgenerator.com/zh/</a> & <a href="http://kortingscodericomoda.nl/">mrkortingscode</a></small></div>
                <style>
                    #gmap_canvas img {
                        max-width: none !important;
                        background: none !important
                    }
                </style>
            </div><br />
            <style>
                #gmap_canvas img {
                    max-width: none !important;
                    background: none !important
                }
            </style>
        </div>
        <script type='text/javascript'>function init_map() { var myOptions = { zoom: 10, center: new google.maps.LatLng(50.39529, 18.715946900000063), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(50.39529, 18.715946900000063) }); infowindow = new google.maps.InfoWindow({ content: '<strong>Szynszyle</strong><br>Poznań<br>' }); google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>

    </section>






    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                    <h4>
                        <strong>Szynszyle.pl</strong>
                    </h4>
                    <p>
                        Poznań ul. Wielka 5 121-158
                        <br>Program objęty ogólnopolskim programem promocji zwierząt w domach
                    </p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            (123) 1122-2321
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:szynszyle@poznan.com.pl">szynszyle@poznan.com.pl</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook fa-fw fa-3x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter fa-fw fa-3x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-dribbble fa-fw fa-3x"></i>
                            </a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Adrian Sternal 2019 Projekt: Sklep</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
            <i class="fa fa-chevron-up fa-fw fa-1x"></i>
        </a>


    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Vendor/jquery/jquery.min.js"></script>
    <script src="~/Vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Vendor/stylish-portfolio.js"></script>

</body>

</html>
